Screen {
    background: $surface;
}

InputPanel {
    width: 30%;
    padding: 0 1;
    border-right: tall $primary;
}

#selection-container {
    height: auto;
    margin-bottom: 1;
}

#method-label {
    text-style: italic;
    color: $text-muted;
    margin-top: 1;
}

#method-select {
    height: 3;
}

/* Use 1fr to ensure it fills the remaining space between the dropdown and button */
TextArea#input {
    height: 1fr;
    border: tall $primary;
    margin: 1 0;
}

Button#submit {
    width: 100%;
    height: 3;
}

ResultsPanel {
    width: 70%;
    height: 1fr;
    padding: 1 2;
}

#results-table {
    height: auto;
    text-wrap: wrap;
}

#title {
    margin: 1 0;
    text-style: bold;
    color: $accent;
}