datasets
nltk
matplotlib
pandas
torch
numpy
transformers
surrealdb
scikit-learn
accelerate
pytest
textual
bertopic
sentence-transformers
spacy
# pip install --extra-index-url=https://pypi.nvidia.com cuml-cu12==24.12.*